* {
    box-sizing: border-box;
    margin: 0;
   
   }
   a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    ul {
      list-style: none;
    }

    .menu-wrap {
      display: none;
    }
    
 .nav-bar {
   position: fixed; 
    top:0;
    width: 100%;
     z-index: 2; 
    height: 70px;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 2rem;
}

.nav-bar ul li {
   font-weight: bold;
   font-size: 18px;
   display: inline-block;
   margin-right: 1rem;
   color: rgb(199, 149, 22);
}


.nav-links {
   color: rgb(199, 149, 22);
}

.checkbtn {
   font-size: 30px;
   color: white;
   float: right;
   line-height: 70px;
   margin-right: 40px;
   cursor: pointer;
    display: none;
}
#check {
   display: none; 
}
h1 {
   color: rgb(199, 149, 22);
   font-family: 'Pacifico' cursive;
   font-size: 35px;
}

.parent {
   margin-top: 70px;
}
.header {
   position: relative;
   /* margin-top: 70px; */
   background: url("../birthday-images/birthdaybanner.jpg") no-repeat left top/cover;
   width: 100%;
   height: 600px; 
   color: white;
}
 

.overlay1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   width: 100%;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   padding:2rem 5rem;
   }  

   .button-div {
margin: 25%;
   }
 .button1 {
    position: relative;
    color:  rgb(199, 149, 22) ;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    height: 50px;
    width: 90px;
    text-align: center;
    font-size: 16px;
 }

.button1:hover {
   background-color: white;
   color:  rgb(199, 149, 22);
}

.head-para {
   width: 60%;
   margin: auto;
   text-align: center;
   font-size: 35px;
}
.clockdiv {
   background: #f7f7f7;
   padding: 4rem 2rem;
}

#demo {
   text-align: center;
   font-size: 130px;
   font-weight: bolder;
   color: rgb(199, 149, 22);
}



   .break {
      height: 50px;
      width: 100%;
   }

   .container {
padding: 0 2rem;
margin: auto;
overflow: hidden;
max-width: 1100px;

   }
   section {
      background-color: black;
      padding: 4rem 0;
   }
   
 .about-me{
   padding: 2rem 0;
   display: flex;
 }
/* 
 .about-me div {
    background-color: black;
    margin-top: 130px;
    padding: 50px 2rem;
    height: 430px; */
    
 

 .about-image {
    width: 100%;
    height: 390px;
    background: url("../birthday-images/image2.jpeg") no-repeat center center/cover;
    border-radius: 10px;
 }
 /* .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
 } */

  .about-text {
    margin-left: 2rem;
 }
  h2 {
     font-size: 35px;
     /* line-height: 10px; */
     color: #f8f8f8;
  }

  .about-para {
     padding-top: 20px;
     padding-bottom: 20px;
     font-size: 18px;
     color: #f8f8f8;
  }  

  .button2 {
   position: relative;
   color:  rgb(199, 149, 22) ;
   background-color: #f8f8f8;
   border: 2px solid rgb(199, 149, 22);
   border-radius: 5px;
   height: 50px;
   width: 130px;
   text-align: center;
   font-size: 16px;
}

.button2:hover {
  background-color: black;
  color:  rgb(199, 149, 22);
}
.break {
   height: 200px;
}

hr {
   border: 1px solid rgb(199, 149, 22);
}
.footer {
   height: 100px;
   width: 100%;
   display: flex;
   flex-direction: column;
   background-color: black;
   }
   
   .footer> div {
      
      width: 100%;
      text-align: center;
   }
   
   .footer-text {
      height: 40px;
   margin-top: 10px;
   font-size: 20px;
   color: rgb(199, 149, 22);
   align-items: center;
   }
   

@media (max-width: 1147px) {
   h1 {
      font-size: 35px;
   }
   nav ul li a {
      font-size: 18px;
   }
}

   @media (max-width: 999px) {
      .about-image {
         height: 360px;
      }
   }

   @media (max-width: 986px) {
      #demo {
         font-size: 110px;
      }
   }

   @media (max-width: 900px) {
      .about-image {
         flex: 1;
         height: 340px;
      }
     
       .about-text {
         flex: 2;
         margin-left: 2rem;
      } 
   }
   @media (max-width: 880px) {
      .about-image {
         height: 320px;
      }
   }

   @media (max-width: 846px) {
      #demo {
         font-size: 90px;
      }
   }

   @media (max-width: 800px){
      .head-para {
         font-size: 1.8rem;
         width: 75%;
      }
   }

   @media (max-width: 768px) {
      .about-image {
         flex: 2;
         height: 300px;
      }
     
       .about-text {
         flex: 3;
      } 
   }

   @media (max-width: 702px) {
      .clockdiv {
         padding: 4rem 1rem;
      }
      #demo {
         font-size: 90px;
      }
   }

   @media (max-width: 670px) {
      #demo {
         font-size: 70px;
      }
   }

   @media (max-width: 621px) {
      .overlay1 {
         padding: 2rem;
         }
   }

   @media (max-width: 600px) {
      .about-me{
         display: block;
       }
       .about-image {
         width: 80%;
         height: 300px;
         margin: auto;
      }
      .about-text {
         margin-top: 2rem;
         margin-left: 0;
      } 
   }

   @media (max-width: 545px){
      .head-para {
         font-size: 1.6rem;
         width: 80%;
      }
   }

   @media (max-width: 520px) {
      .clockdiv {
         padding: 3rem 0.5rem;
      }
      #demo {
         font-size: 60px;
      }
   }

   @media (max-width: 490px) {
      .nav-bar {
          justify-content: space-between;
      }
      .menu-wrap {
         display: block;
       }
       .main-links{
         display: none !important;
       }
   }


   @media (max-width: 409px) {
      .overlay1 {
         padding: 2rem 1rem;
         }
      .head-para {
         font-size: 1.4rem;
         width: 85%;
      }
      #demo {
         font-size: 50px;
      }

      .about-image {
         width: 100%;
         height: 280px;
      }
      h2 {
         font-size: 2rem;
      }
   }
   
   /*  
   @media (max-width: 1280px) {
      .about-me {
      }
      .about-image {
         width: 300px;
         margin-left: 150px;
      }
   }