* {
    box-sizing: border-box;
    margin: 0;
    /* padding-left: 40px;
    padding-right: 40px; */
    
    }
    
 .nav-bar {
   position: fixed; 
    top:0;
    width: 100%;
    z-index: 2;
    height: 70px;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 2rem;
}

.nav-bar ul li {
   font-weight: bold;
   font-size: 18px;
   display: inline-block;
   margin-right: 1rem;
   color: rgb(199, 149, 22);
}

.nav-links {
    color: rgb(199, 149, 22);
}

h1 {
   color: rgb(199, 149, 22);
   font-family: 'Pacifico' cursive;
   font-size: 35px;
}

.parent {
    margin-top: 70px;
    align-content: center;
 }

h2 {
    margin-top: 100px;
    color: rgb(199, 149, 22);
    font-size: 50px;
    text-align: center;

}

.p1 {
    color: rgb(199, 149, 22);
    text-align: center;
    margin-top: 50px;
    font-size: 17px;
    font-weight: bolder;
}

.gift-grid {
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 3rem;
margin: 3rem 3rem;
}

.card {
     padding-bottom: 2rem;
     margin-top: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        font-family: arial;
}

.price {
    color: rgb(199, 149, 22);
    font-size: 22px;
}

.card button {
        border: none;
        margin-top: 2rem;
        outline: 0;
        padding: 12px;
        color: black;
        background-color: rgb(199, 149, 22);
        text-align: center;
        cursor: pointer;
        width: 90%;
        font-size: 18px;
}

.gift-image {
height: 250px;
width: 100%;
margin-bottom: 1rem;
}

.card-details {
    padding: 0 1.5rem;
    text-align: left;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card button:hover {
    opacity: 0.7;
  }
  
hr {
    margin-top: 50px;
    border: 1px solid rgb(199, 149, 22);
 }

 .footer {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    }
    
    .footer> div {
       
       width: 100%;
       text-align: center;
    }
    
    .footer-text {
       height: 40px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(199, 149, 22);
    align-items: center;
    }
    